.header {
  background-color: #d69559;
}
.header a {
  color: snow;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

/* Sign In */
.signin {
  background-color: #d69559ec;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin > div {
  width: 30%;
  height: 60vh;
  background-color: snow;
  box-shadow: 5px 5px 30px #4444449a;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#signin-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.form-group {
  width: 80%;
}
