body {
  font-size: 10px;
}
.header {
  background-color: #d69559;
}
.header a {
  color: snow;
  font-weight: bold;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

/* Sign In Sign Up*/
.signin {
  background-color: #d69559ec;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin > div {
  width: 25rem;
  height: 25rem;
  background-color: snow;
  box-shadow: 0.5rem 0.5rem 2rem #4444449a;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
}
#signin-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.form-group {
  width: 80%;
}

/* HOME */
.home-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.post-div {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.post-img {
  width: 70%;
  max-height: auto;
}

#post {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  height: auto;
  font-size: 1rem;
  margin: 1.3rem;
  padding: 1rem;
}

#post-props {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
